<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lista użytkowników{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
        /* Add a black background color to the top navigation */
            .topnav {
            background-color: #333;
            overflow: hidden;
            }

            /* Style the links inside the navigation bar */
            .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            }

            /* Change the color of links on hover */
            .topnav a:hover {
            background-color: #ddd;
            color: black;
            }

            /* Add a color to the active/current link */
            .topnav a.active {
            background-color: #4CAF50;
            color: white;
            }
        </style>
    </head>
    <header>
    <div class="topnav">
        <a class="active" href="{{ path('index') }}">Lista Osób</a>
        <a href="{{ path('group') }}">Lista Grup</a>
        <a href="{{ path('app_user_create') }}">Dodaj Osobę</a>
        <a href="{{ path('app_group_create') }}">Dodaj Grupę</a>
    </div>
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
