{% extends 'base.html.twig' %}
{% block body %}
    <h1>Dodaj osobę</h1>
    <form method ="post">
        Login: <br/>
        <input name="login" value="{{user.login}}"><br>
        Nazwisko: <br/>
        <input name="last_name" value="{{user.last_name}}"><br>
        Imię: <br/>
        <input name="first_name" value="{{user.first_name}}"><br>
        <input type="submit" valye="dodaj"/>
    </form>
{% endblock %}
